.Notifications{
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    max-height: 200px; /* Adjust this value to your desired maximum height */
    overflow-y: auto; /* Add a vertical scrollbar if content overflows */
}

.update{
    display: flex;
    gap: 0.5rem;
}

.update>img{
    width: 3.2 rem;
    height: 3.2rem;
}

.noti>div>span.name {
    font-weight: bold;
}