.StudentReview {
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    max-height: 140px; /* Adjust this value to your desired maximum height */
    overflow-y: auto; /* Add a vertical scrollbar if content overflows */
}

.review {
    display: flex;
    gap: 0.5rem;
}

.review .avatar {
    width: 3.2rem;
    height: 3.2rem;
}

.review .info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.rating {
    display: flex;
    align-items: center;
}

.comment {
    font-size: 12px;
}