.MuiTableRow-root {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head>*{
    font-weight: bold !important;
}

/* .Table td, th {
    border: none !important;
} */

.Table:first-child {
    border-radius: 0.7rem !important;
}

.container {
    overflow-y: auto; /* Add a vertical scrollbar if content overflows */
  }

  .scroll {
    max-height: 240px; /* Adjust this value to your desired maximum height */
    overflow-y: auto; /* Add a vertical scrollbar if content overflows */
  }
  
  