:root {
    --yellow: linear-gradient (180deg, #F8D49A -146.42%, #F8D49A -146.42%, #F8D49A -146.42%);
    --orange: #fca61f;
    --lightorange: #F8D49A;
    --black: #242849; 
    --gray: #788097;
    --purple: linear-gradient(180deg, #8867FF 0%, #C484F3 100%);
    --pink: #FF9190;
    --glass: rgba(255, 255, 255, 0.54); 
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #799a354;
}

.App{
    background: linear-gradient(
    106.37deg,
    #F8D49A 29.63%,
    #8867FF 51.55%,
    #fca61f 90.85%
);



    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.AppGlass{
    display: grid;
    height: 96%;
    width: 96%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 11rem auto 16rem;
    gap: 10px;
}

/* Styling scrollbar track */
::-webkit-scrollbar{
    width: 6px;
}

/* Styling scrollbar handle */
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 179, 3);
    border-radius: 10px;
}


/*resposiveness*/
@media screen and (max-width: 1250px){
    .AppGlass{
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
    .close{
        display: none;
    }
}   

@media screen and (max-width: 768px){
    .AppGlass{
        grid-template-columns: 1fr;
    }
    .AppGlass::-webkit-scrollbar{
        display: none;

    }
}