:root {
    --yellow: linear-gradient (180deg, #000 -146.42%, #000 -146.42%, #000 -146.42%);
    --orange: #000;
    --lightorange: #000;
    --black: #000; 
    --gray: #788097;
    --purple: linear-gradient(180deg, #000 0%, #000 100%);
    --pink: #FF9190;
    --glass: rgba(71, 66, 66, 0.54); 
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #799a354;
}

.App{
    background: linear-gradient(
    106.37deg,
    rgb(97, 105, 105) 29.63%,
    rgb(110, 70, 98) 29.63%,
    rgb(186, 240, 155) 29.63%
);



    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.AppGlass{
    display: grid;
    height: 96%;
    width: 96%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 11rem auto 16rem;
    gap: 10px;
}

/* Styling scrollbar track */
::-webkit-scrollbar{
    width: 6px;
}

/* Styling scrollbar handle */
::-webkit-scrollbar-thumb{
    background-color: rgb(97, 105, 105) ;
    /* background-color: rgb(255, 179, 3); */
    border-radius: 10px;
}

h1, h2, h3 {
    color: #0c0c0c;
  }
  


/*resposiveness*/
@media screen and (max-width: 1250px){
    .AppGlass{
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
    .close{
        display: none;
    }
}   

@media screen and (max-width: 768px){
    .AppGlass{
        grid-template-columns: 1fr;
    }
    .AppGlass::-webkit-scrollbar{
        display: none;

    }
    
}
